<div class="login-page" style="background-color: #20B2AA">
  <%= render 'layouts/header' %>
  <div class="card edit-user">
      <h2>Olá, <%= current_user.email %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <div class="field">
          <label id="email_label" for="user_email">Email</label>
          <%= f.email_field :email, class: "form-control",autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <label id="password_label" for="user_password">Senha</label><br>
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
          <i>(deixe em branco se não quiser alterar a senha)</i>
        </div>

        <div class="field">
          <label for="user_password_confirmation">Confirmação de senha</label>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <label for="user_current_password">Senha atual</label>
          <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
          <i>(precisamos da sua senha atual para confirmar as aletrações)</i>
        </div>
        <p></p>

        <div class="actions">
          <%= f.submit "Atualizar", class: "login-button" %>
        </div>

        <%= link_to "Back", root_path %>
        <%= render "devise/shared/error_messages", resource: resource %>
      <% end %>
  </div>
</div>
