<div id="<%= dom_id inquilino %>">
  <p>
    <strong>Name:</strong>
    <%= inquilino.name %>
  </p>

  <p>
    <strong>Sobrenome:</strong>
    <%= inquilino.sobrenome %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= inquilino.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= inquilino.email %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= inquilino.numero %>
  </p>

  <p>
    <strong>Andar:</strong>
    <%= inquilino.andar %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= inquilino.complemento %>
  </p>

</div>
