<% if user_signed_in? %>
  <header >
    <a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
      <%= image_tag '/icons/menu.png', size: "40x40", class: "menu-button"%>
    </a>

    <div class="offcanvas offcanvas-end side-bar" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" 
    aria-labelledby="offcanvasWithBothOptionsLabel" style="width: 350px">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
          Olá, <%= current_user.email %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="row link" href="/">
              <div class="col-md-2 option-icon">
                <%= image_tag('/icons/encomendas.png', size: "25x25") %>
              </div>
              <div class="col-md-10 content">
                Encomendas
              </div>
            </a>
          </li>
          <li class="list-group-item">
            <a class="row link" href=<%= inquilinos_path %>>
              <div class="col-md-2 option-icon">
                <%= image_tag('/icons/inquilinos.png', size: "25x25") %>
              </div>
              <div class="col-md-10 content">
                Inquilinos
              </div>
            </a>
          </li>
        </ul>
        <div class="side-buttons">
          <%= button_to(current_user.email, edit_user_registration_path, method: :get, class: "side-button me") %> 
          <%= button_to("Sair", destroy_user_session_path, method: :delete, class: "side-button sair") %>
        </div>
      </div>
    </div>
  </header>
<% end %>