<div id="<%= dom_id encomenda %>">
  <p>
    <strong>User:</strong>
    <%= encomenda.user_id %>
  </p>

  <p>
    <strong>Inquilino:</strong>
    <%= encomenda.inquilino_id %>
  </p>

  <p>
    <strong>Data entregue:</strong>
    <%= encomenda.data_entregue %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= encomenda.observacao %>
  </p>

</div>
