<%= form_with(model: encomenda) do |form| %>
  <% if encomenda.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(encomenda.errors.count, "error") %> prohibited this encomenda from being saved:</h2>

      <ul>
        <% encomenda.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :inquilino_id, style: "display: block" %>
    <%= form.text_field :inquilino_id %>
  </div>

  <div>
    <%= form.label :data_entregue, style: "display: block" %>
    <%= form.datetime_field :data_entregue %>
  </div>

  <div>
    <%= form.label :observacao, style: "display: block" %>
    <%= form.text_area :observacao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
